header{
  background-color: #607d8b;
  margin: 0;
  
  .title{
    color:#eceff1;
    font-size: 2.2rem;
    margin-right: 1rem;
  }

  .btn-header{
    color: white;
    margin-left: 20px;
   background-color: #455a64; 
   font-size: 1.2rem;
  }
}